*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/subset-Lato-Regular.eot');
    src: url('fonts/subset-Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Lato-Regular.woff2') format('woff2'),
        url('fonts/subset-Lato-Regular.woff') format('woff'),
        url('fonts/subset-Lato-Regular.ttf') format('truetype'),
        url('fonts/subset-Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/subset-Lato-Bold.eot');
    src: url('fonts/subset-Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Lato-Bold.woff2') format('woff2'),
        url('fonts/subset-Lato-Bold.woff') format('woff'),
        url('fonts/subset-Lato-Bold.ttf') format('truetype'),
        url('fonts/subset-Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('fonts/subset-Lato-Black.eot');
    src: url('fonts/subset-Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Lato-Black.woff2') format('woff2'),
        url('fonts/subset-Lato-Black.woff') format('woff'),
        url('fonts/subset-Lato-Black.ttf') format('truetype'),
        url('fonts/subset-Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Arial-BoldItalic';
    src: url('fonts/subset-Arial-BoldItalicMT.eot');
    src: url('fonts/subset-Arial-BoldItalicMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Arial-BoldItalicMT.woff2') format('woff2'),
        url('fonts/subset-Arial-BoldItalicMT.woff') format('woff'),
        url('fonts/subset-Arial-BoldItalicMT.ttf') format('truetype'),
        url('fonts/subset-Arial-BoldItalicMT.svg#Arial-BoldItalicMT') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arial-Bold';
    src: url('fonts/subset-Arial-BoldMT.eot');
    src: url('fonts/subset-Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Arial-BoldMT.woff2') format('woff2'),
        url('fonts/subset-Arial-BoldMT.woff') format('woff'),
        url('fonts/subset-Arial-BoldMT.ttf') format('truetype'),
        url('fonts/subset-Arial-BoldMT.svg#Arial-BoldMT') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('fonts/subset-ArialMT.eot');
    src: url('fonts/subset-ArialMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-ArialMT.woff2') format('woff2'),
        url('fonts/subset-ArialMT.woff') format('woff'),
        url('fonts/subset-ArialMT.ttf') format('truetype'),
        url('fonts/subset-ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
}


.container{
    max-width: 1000px;
    margin: 0 auto;
}

.header_menu{
    background-color: #e8ebf1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 36px 0 47px 0;
}

.header_title{
    color: #000000;
    font-family: "Lato-Black";
    font-weight: 900;
    font-size: 50px;
    float: left;
}

.header_title_s{
    font-family: "Lato";
    font-weight: 400;
    color: #2aacc8;
    font-size: 50px;
}

.header_link{
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.header_item{
    display: inline-block;
    vertical-align: top;
    margin-left: 45px;
}

.header_item:hover{
    background-color: #fff;
    border-top: 5px solid #2aacc8;
    border-bottom: 5px solid #2aacc8;
}

.header_link:hover{
    color: #2aacc8;
}

.header_nav{
    float: right;
    margin-top: 24px;
}

.clearfix{
    clear: both;
}

.down_arrow{
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    
}

.dropdown_item{
    position: relative;
    display: inline-block;
}

.submenu{
    opacity: 0;
	width: 200px;
    position: absolute;
    background-color: #fff;
    z-index: 1000;
}

.submenu_link{
    display: block;
    color: #000000;
    font-family: "Arial-Bold";
    font-size: 13px;
    line-height: 36px;
    text-decoration: none;
    padding: 15px 20px 15px 10px;
}

.submenu_link:hover{
    color: #2aacc8;
    transition: 0.5s ease-in-out;
}

.dropdown_item:hover .submenu{
    display: block;
    opacity: 1;
}

.submenu_item{
    border-bottom: 1px solid #e7e7e7;
}

.submenu_item:last-child{
    border-bottom: 5px solid #2aacc8;
}

.header_ban{
    background-color: #81e4ed;
    padding: 20px 0 14px 0;
}

.header_ban_content{
background-color: #dc5735;
}

.header_ban_content_text{
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    font-family: 'Lato-Bold';
    font-size: 50px;
    max-width: 295px;
    margin: 102px 0 0 61px;
}

.header_ban_content_img{
    display: inline-block;
    vertical-align: top;
}

.cup{
    position: relative;
    left: 64px;
}

.cloud{
    width: 425px;
}

.header_ban_buttom{
    margin: 12px 0 0 0;
    text-align: center;
}

.header_ban_buttom_img{
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;
    width: 14px;
    height: 14px;
    background-color: #71a3a7;
    border-radius: 50%;
}

.header_ban_buttom_img:nth-child(3){
    background-color: #fff;
}

.main_menu{
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
    padding: 60px 0 50px 0;
}

.main_menu_content{
    max-width: 218px;
    display: inline-block;
    vertical-align: top;
    margin-right: 38px;
}

.main_menu_box{
    max-width: 167px;
    padding-bottom: 20px;
}

.main_menu_content_img{
    float: left;
    width: 40px;
    height: 40px;
    background: #2aacc8;
    border-radius: 50%;
}

.main_menu_content_title{
    float: right;
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 9px;
}

.main_menu_content_text{
    color: #363636;
    font-family: "Arial";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.main_menu_link{
    display: inline-block;
    vertical-align: top;
    color: #363636;
    font-family: 'Arial';
    font-size: 13px;
    line-height: 20px;
    color: #2aacc8;
    text-decoration: none;
    margin-top: 25px;
}

.main_menu_link::before{
    content: url(image/arrow.png);
    width: 5px;
    height: 7px;;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-position: 2px 2px;
}

.main_menu_box_1{
    padding-bottom: 20px;
    max-width: 216px;
}

 .first{
    background-image: url(image/pencil.png);
    background-repeat: no-repeat;
    background-position: center;
 }

 .second{
    background-image: url(image/fullscreen.png);
    background-repeat: no-repeat;
    background-position: center;
 }

 .third{
    background-image: url(image/view_list.png);
    background-repeat: no-repeat;
    background-position: center;
 }

 .main_menu_box_2{
    max-width: 206px;
    padding-bottom: 20px;
 }

 .main_menu_box_3{
    max-width: 212px;
    padding-bottom: 20px;
 }

 .main_menu_content.last{
    margin-right: 0;
 }

 .main_nav_content{
    padding: 29px 0 18px 0;
    border-bottom: 1px solid #dfe1e5;
    margin-bottom: 20px;
 }

.main_nav_title{
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
}

.main_nav_title::before {
    content: ''; 
    display: inline-block; 
    width: 14px; 
    height: 24px; 
    background-image: url(image/Shape_3.png); 
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 14px;
    margin-right: 25px;
}

.main_slider{
    float: right;
}
    
.main_slider::before { 
    content: ''; 
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background-color: #81e4ed; 
    border-radius: 50%; 
    background-image: url(image/Shape_1.png); 
    background-position: center; 
    background-size: 7px; 
    background-repeat: no-repeat; 
    margin-right: 11px;
} 
.main_slider::after { 
    content: ''; 
    display: inline-block; 
    width: 20px; 
    height: 20px; 
    background-color: #81e4ed; 
    border-radius: 50%; 
    background-image: url(image/Shape_1_copy.png); 
    background-position: center; 
    background-size: 7px; 
    background-repeat: no-repeat;
}

.card{
    margin-bottom: 28px;
    border-bottom: 1px solid #dfe1e5;
}
 
.cards_content { 
    display: inline-block; 
    vertical-align: top; 
    width: 220px; 
    height: 160px; 
    position: relative; 
    margin-right: 40px;
    margin-bottom: 40px;
} 

.cards_content:last-child { 
    margin-right: 0;
} 

.cards_content_dropdown { 
    display: none; 
    position: absolute; 
    bottom: 0; 
    width: 220px; 
    height: 80px; 
    background-color: #2aacc8; 
    text-align: center;
}

.dropdown_link { 
    margin: 29px auto;
}

.dropdown_link_img { 
    margin-right: 35px;
} 

.dropdown_link_img:last-child { 
    margin-right: 0;
} 

.cards_content:hover .cards_content_dropdown { 
    display: block;
}

.main_info_test{
    max-width: 510px;
    float: left;
}

.main_info_title{
    display: inline-block;
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.main_info_text{
    display: inline-block;
    vertical-align: top;
    max-width: 425px;
    height: 181px;
    color: #363636;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px;
}

.main_info_text_1{
    display: inline-block;
    vertical-align: top;
    max-width: 425px;
    color: #363636;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Arial-BoldItalic';
}

.main_info_clients{
    max-width: 480px;
    float: right;
}

.main_clients_title{
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.main_info_title::before{
    content: '';
    width: 25px;
    height: 30px;
    background-size: 25px;
    background-image: url(image/comments.png);
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.main_clients_title::before{
    content: '';
    width: 25px;
    height: 30px;
    background-size: 25px;
    background-image: url(image/clients.png);
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.client_box_1{
    margin-top: 19px;
}

.clients_box{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 160px;
    height: 100px;
    background-color: #ffffff;
    box-shadow: inset 0 0 25px #e8ebf1;
    border: 1px solid #e8ebf1;
}

.clients_box:first-child{
    padding-top: 20px;
}

.clients_box:nth-child(2){
    padding-top: 20px;
}

.clients_box:nth-child(3){
    padding-top: 29px;
}

.clients_box:nth-child(4){
    padding-top: 14px;
}

.clients_box:nth-child(5){
    padding-top: 15px;
}

.clients_box:nth-child(6){
    padding-top: 35px;
}

.down{
    border: 1px solid #81e4ed;
    background-color: #e8fcfe;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 37px 40px 40px 31px;
}

.main_down_text{
    color: #363636;
    font-family: 'Arial';
    font-size: 16px;
    line-height: 26px;
    max-width: 600px;
    float: left;
    margin-right: 82px;
}

.psd_link{
    text-decoration: none;
    color: #0d0707;
    font-family: 'Arial-Bold';
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
}

.psd{
    float: right;
    padding: 23px 20px 22px 19px;
    width: 243px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
    border: 1px solid #2aacc8;
    background-color: #2aacc8;
    background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
}

.psd_link::before{
    content: '';
    background-image: url(image/download.png);
    width: 28px;
    height: 25px;
    margin-right: 24px;
    display: inline-block;
    vertical-align: middle;
}

.footer{
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
    padding: 33px 0 0 0;
}

.footer_first{
    display: inline-block;
    vertical-align: top;
    max-width: 240px;
}

.footer_first_title{
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.footer_first_text{
    color: #363636;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 20px;
}

.footer_second{
    display: inline-block;
    vertical-align: top;
    max-width: 71px;
    margin-left: 68px;
}

.footer_second_title{
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.footer_second_link{
    display: inline-block;
    vertical-align: top;
    color: #363636;
    font-family: 'Arial';
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer_third{
    display: inline-block;
    vertical-align: top;
    max-width: 105px;
    margin-left: 77px;
}

.footer_third_title{
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.footer_third_link{
    display: inline-block;
    vertical-align: top;
    color: #363636;
    font-family: 'Arial';
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer_fourth{
    display: inline-block;
    vertical-align: top;
    max-width: 122px;
    margin-left: 64px;
}

.footer_fourth_title{
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.footer_fourth_text{
    color: #363636;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.span{
    font-family: 'Arial-Bold';
}

.footer_fifth{
    display: inline-block;
    vertical-align: top;
    max-width: 193px;
    margin-left: 44px;
}

.footer_fifth_title{
    color: #000000;
    font-family: 'Arial-Bold';
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.footer_box{
    display: inline-block;
    vertical-align: top;
    padding: 9px 0 0 10px;
}

.footer_copyright{
    padding: 43px 0 58px 0;
    max-width: 650px;
    float: left;
}

.footer_copyright_text{
    color: #363636;
    font-family: 'Arial';
    font-size: 13px;
    line-height: 18px;
}

.footer_title{
    color: #000000;
    font-family: "Lato-Black";
    font-weight: 900;
    font-size: 50px;
    float: right;
    padding-top: 32px;
}

.footer_title_s{
    font-family: "Lato";
    font-weight: 400;
    color: #2aacc8;
    font-size: 50px;
}